* {
    margin: 0 auto;
    overflow: hidden;
}

h2 {
    margin-bottom: 20px;
}

tr {
    border: 1px solid black;
    height: 30px;
}

.employee {
    background-color: rgb(232, 228, 228);
}

.right-offset {
    margin-right: 15px;
}

.page-nav {
    width:50%;
}

.main {
    width: 70%;
    max-height: 50%;
    min-height: 50%;
    overflow: auto;
}

