* {
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
}

tr {
    border: 1px solid black;
    height: 30px;
}

.employee {
    background-color: rgb(232, 228, 228);
}

.right-offset {
    margin-right: 15px;
}

.page-nav {
    margin-top: 10px;
    
    margin-bottom: 10px;
    padding: 0 5%;
    width: 100%;
}

.table-wrapper {
    padding: 0 5%;
    width: 100%;
    overflow-x: auto;
}

.error-msg {
    color: red;
}

.mat-column-id {
    width: 20%;
}

.mat-column-name {
    width: 20%;
}

.mat-column-login {
    width: 20%;
}

.mat-column-salary {
    width: 20%;
}

.mat-column-action {
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .table-wrapper {
        margin-top: 5%;
        padding: 0 5%;
        width: 100%;
        overflow-x: auto;
    }

    .wrapper {
        margin-top: 10px;
    }
}