* {
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
}

tr {
    border: 1px solid black;
    height: 30px;
}

.employee {
    background-color: rgb(232, 228, 228);
}

.right-offset {
    margin-right: 15px;
}

.page-nav {
    margin-top: 10px;

    margin-bottom: 10px;
    padding: 0 5%;
    width: 100%;
}

.table-wrapper {
    padding: 0 5%;
    width: 100%;
    overflow-x: auto;
}

.error-msg {
    color: red;
}

.mat-column-action button {
    margin: 0% 1%;
}

td {
    text-align: center;
    column-span: all;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .table-wrapper {
        margin-top: 5%;
        padding: 0 5%;
        width: 100%;
        overflow-x: auto;
    }

    .wrapper {
        margin-top: 10px;
    }

    .mat-column-action button {
        margin: 5% 1%;
    }

    .right-offset {
        margin-right: 0;
    }

    button span {
        display: none;
    }
}