<div class="salary-form">
    <form>
        <div class="nested">
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Min. Salary</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0.00" min="0.00" name="minSal"
                    id="minSal" #minSalary [(ngModel)]="minSal">
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Max. Salary</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="50,000.00" min="0.00"
                    name="maxSal" id="maxSal"  #maxSalary [(ngModel)]="maxSal" class="btn-max-height">
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
        </div>

    </form>
</div>